@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --body: black;
  --theme-color-1: #1f2a30;
  --theme-color-2: var(--body);
  --input-border: white;
  /* --output-border: rgb(16, 186, 228); */
  --output-border:white;
  --lable-text: white;
  --input-text: #ff9900;
  --output-text: #ff9900;
}

#output::-webkit-scrollbar {
  width: 12px;
}

#output::-webkit-scrollbar-track {
  background: rgb(255, 255, 255); 
}

#output::-webkit-scrollbar-thumb {
  background-color: rgb(0, 0, 0);
  border: 1px solid white;
  border-radius: 5px;
  cursor: pointer;
}

.active {
  top: 100%;
}